* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --couleur-text: rgba(0, 27, 41, 0.8);
}

body {
    background: #001b29;
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #001b29bf;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}

#home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

#home::after {
    content: '';
    width: 100%;
    height: 2px;
    border-top: 5px solid #001b29bf;
    border-radius: 32px;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: #00abf0;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(2):hover {
    color: #081b29;
}

.btn-box a:nth-child(2)::before {
    background: #00abf0;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    color: #001b29;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

#skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 16px 16px;
    width: 100%;
    justify-content: center;
    justify-items: center;
    padding: 0 70px;
    padding-bottom: 30px;
    color: #fff;
}

.skills-title {
    font-size: 3rem;
    text-align: center;
    padding-bottom: 40px;
}

.card {
    background: transparent;
    height: 200px;
    width: 250px;
    border: 1px solid #fff;
    border-radius: 10%;
}

.img {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
}

.img img {
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 100%;
}

.title {
    width: 100%;
    height: 10%;
    text-align: center;
    font-size: 1rem;
}

.content {
    width: 100%;
    height: 30%;
    padding: 0 20px;
    font-size: 0.6rem;
    text-align: center;
    text-transform: capitalize;
}

#about {
    background: #fff;
    padding-bottom: 30px;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.moi {
    width: 100%;
    background: #1e1e1ea0;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: 0 25px;
}

.moi i {
    padding-top: 30px;
}

.moi p {
    text-align: start;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;
}

#parcour {
    background: url("../assets/images/education-.png") #333;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    padding: 30px 20px;
    flex-direction: column;
}

.parcour-title {
    text-align: center;
    font-size: 3rem;
    padding-bottom: 50px;
}

.parcour-image {
    width: 100%;
    background: transparent;
}

.parcour-contents {
    display: flex;
    width: 100%;
    justify-content: center;
    line-height: 40px;
    font-size: 1.2rem;
    padding-top: 85px;
}

.list-parcour {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 20px;
    border-left: 2px solid #fff;
}

.list-parcour li b {
    border: none;
    border-bottom: 2px solid;
    padding-bottom: 9px;
}

.list-parcour li {
    border: none;
    border-radius: 25px;
    padding: 0 10px;
    padding-top: 20px;
    margin: 0 5px;
    text-align: center;
    background: rgba(0, 27, 41, 0.8);
}

#contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--couleur-text);
    color: #fff;
    padding: 20px 100px;
}

#contacts h1 {
    text-align: center;
    font-size: 3rem;
    padding-bottom: 40px;
}

.formulaire {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    gap: 20px;
    justify-content: center;
    align-content: center;
}

.formulaire button {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    border-radius: 16px;
    width: 200px;
    height: 40px;
    margin-top: 20px;
    font-weight: bold;
    border: 2px solid #333333;
    transition: 0.5s;
    box-shadow: 5px 5px 0px 0px rgba(51, 51, 51, 1);
    background-color: #ffffff;
}

#contacts form button:hover {
    box-shadow: 0 0 #001b29;
    color: #fff;
    background-color: #001b29;
}

.formulaire input {
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid #434343;
    background: transparent;
}

